<div class="clearfix">
    <div class="ship-container">
        <div class="logo"><img src="/bundles/public/img/flag/flag{{ ship.flag }}.png"></div>
        <div class="name">{% if ship.name %}{{ ship.name }}{% else %}Без имени{% endif %}</div>
        <div class="captain">Капитан: {% if captain %}{{ captain.nickname }}{% else %}не выбран{% endif %}</div>
        <div class="account">Общий счет: {{ ship.purse|number_format }} пиастров</div>
        <div class="likes">Авторитет корабля: {{ ship.likes|number_format }}</div>
        <div class="slogan">Девиз: <span>{% if ship.slogan %}{{ ship.slogan }}{% else %}отсутствует{% endif %}</span></div>
    </div>
    <div class="detail-container">
        {{ render('Fuga:Public:Crew:vacancy', {id: ship.id}) }}
    </div>
</div>
{{ render('Fuga:Public:Ship:crew', {id: ship.id}) }}