{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h4>Управление играми</h4>
    {#<div class="row">#}
        {#<div class="col-sm-6">#}
            {#<h3>Математическая задача</h3>#}
            {#<span class="label label-warning">В испытании участвуют капитаны, помощники и юнги от каждой команды (45 человек)</span>#}
            {#<br><br>#}
            {#<form method="post" class="game-create-simple" action="{{ path('admin_game_simple_group_create') }}">#}
                {#<input type="hidden" name="type" value="task" />#}
                {#<div class="form-group">#}
                    {#<label for="date1">Дата и время игры</label>#}
                    {#<input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date" value="{{ "now"|date("Y-m-d") }}">#}
                    {#<input class="form-control field-time" type="text" placeholder="Выберите время..." name="date_time" value="12:00">#}
                {#</div>#}
                {#<button type="submit" class="btn btn-success btn-game-create-simple">Назначить игры</button>#}
                {#<br><br>#}
                {#<div class="alert alert-info hidden"></div>#}
            {#</form>#}
        {#</div>#}
        {#<div class="col-sm-6">#}
            {#<h3>Подготовка корабля (PEXESO)</h3>#}
            {#<span class="label label-warning">В испытании участвуют плотники, канониры, судовые врачи, коки (60 человек)</span>#}
            {#<br><br>#}
            {#<form method="post" class="game-create-simple" action="{{ path('admin_game_simple_group_create') }}">#}
                {#<input type="hidden" name="type" value="pexeso" />#}
                {#<div class="form-group">#}
                    {#<label for="date2">Дата и время игры</label>#}
                    {#<input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date" value="{{ "now"|date("Y-m-d") }}">#}
                    {#<input class="form-control field-time" type="text" placeholder="Выберите время..." name="date_time" value="12:00">#}
                {#</div>#}
                {#<button type="submit" class="btn btn-success btn-game-create-simple">Назначить игры</button>#}
                {#<br><br>#}
                {#<div class="alert alert-info hidden"></div>#}
            {#</form>#}
        {#</div>#}
    {#</div>#}
    {#<hr>#}
    <div class="row">
        {#<div class="col-sm-6">#}
            {#<h3>Лоцманская карта</h3>#}
            {#<span class="label label-warning">В испытании участвуют квартирмейстеры,  штурманы, боцманы, мастера парусов (60 человек)</span>#}
            {#<br><br>#}
            {#<form method="post" class="game-create-simple" action="{{ path('admin_game_simple_group_create') }}">#}
                {#<input type="hidden" name="type" value="map" />#}
                {#<div class="form-group">#}
                    {#<label for="date3">Дата и время игры</label>#}
                    {#<input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date" value="{{ "now"|date("Y-m-d") }}">#}
                    {#<input class="form-control field-time" type="text" placeholder="Выберите время..." name="date_time" value="12:00">#}
                {#</div>#}
                {#<button type="submit" class="btn btn-success btn-game-create-simple">Назначить игры</button>#}
                {#<br><br>#}
                {#<div class="alert alert-info hidden"></div>#}
            {#</form>#}
        {#</div>#}
        <div class="col-sm-6">
            <h3>Абордаж галеона</h3>
            <span class="label label-warning">В испытании участвуют матросы и пороховые обезьяны (60 человек)</span>
            <br><br>
            <form method="post" id="game-labirint" action="{{ path('admin_game_labirint_create') }}">
                <div class="form-group">
                    <label for="date4">Дата и время игры</label>
                    <input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date" value="{{ "now"|date("Y-m-d") }}">
                    <input class="form-control field-time" type="text" placeholder="Выберите время..." name="date_time" value="12:00">
                </div>
                <button type="submit" class="btn btn-success btn-game-create-labirint">Назначить игры</button>
                <br><br>
                <div class="alert alert-info hidden"></div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        {#<div class="col-sm-6">#}
            {#<h3>Продажа награбленного (Биржа)</h3>#}
            {#<span class="label label-warning">В испытании участвуют все члены команд</span>#}
            {#<br><br>#}
            {#<form method="post" id="game-market">#}
                {#<div class="form-group">#}
                    {#<label for="date1">Дата и время игры, день 1</label>#}
                    {#<input type="text" class="form-control" id="date1" placeholder="YYYY-MM-DD HH:MM">#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<label for="date2">Дата и время игры, день 2</label>#}
                    {#<input type="text" class="form-control" id="date2" placeholder="YYYY-MM-DD HH:MM">#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<label for="date3">Дата и время игры, день 3</label>#}
                    {#<input type="text" class="form-control" id="date3" placeholder="YYYY-MM-DD HH:MM">#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<label for="date4">Дата и время игры, день 4</label>#}
                    {#<input type="text" class="form-control" id="date4" placeholder="YYYY-MM-DD HH:MM">#}
                {#</div>#}
                {#<button type="submit" class="btn btn-success btn-market">Назначить игры</button>#}
            {#</form>#}
            {#<br>#}
            {#<div class="alert alert-info hidden"></div>#}
        {#</div>#}
        <div class="col-sm-6">
            <h3>Морской бой</h3>
            <span class="label label-warning">Играют 12 команд, 4 стола по 3 в 2 дня. 1 из 3 команд - победитель.</span>
            <br><br>
            <form method="post" id="game-battle" action="{{ path('admin_game_battle_create') }}">
                <div class="form-group">
                    <label for="date1">Дата и время игр, день 1 </label>
                    <input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date1" value="{{ "now"|date("Y-m-d") }}">
                    <input class="form-control field-time" type="text" placeholder="Выберите время..." name="date1_time" value="12:00">
                </div>
                <div class="form-group">
                    <label for="date2">Дата и время игр, день 2</label>
                    <input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date2" value="{{ "now"|date("Y-m-d") }}">
                    <input class="form-control field-time" type="text" placeholder="Выберите время..." name="date2_time" value="12:00">
                </div>
                <button class="btn btn-success btn-game-create-battle">Назначить игры</button>
            </form>
            <br>
            <div class="alert alert-info hidden"></div>
        </div>
    </div>
{% endblock %}