{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h4>Управление играми</h4>
    {#<div class="row">#}
        {#<div class="col-sm-6">#}
            {#<h3>Математическая задача</h3>#}
            {#<span class="label label-warning">В испытании участвуют капитаны, помощники и юнги от каждой команды (45 человек)</span>#}
            {#<br><br>#}
            {#<form method="post" class="game-create-simple" action="{{ path('admin_game_simple_group_create') }}">#}
                {#<input type="hidden" name="type" value="task" />#}
                {#<div class="form-group">#}
                    {#<label for="date1">Дата и время игры</label>#}
                    {#<input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date" value="{{ "now"|date("Y-m-d") }}">#}
                    {#<input class="form-control field-time" type="text" placeholder="Выберите время..." name="date_time" value="12:00">#}
                {#</div>#}
                {#<button type="submit" class="btn btn-success btn-game-create-simple">Назначить игры</button>#}
                {#<br><br>#}
                {#<div class="alert alert-info hidden"></div>#}
            {#</form>#}
        {#</div>#}
        {#<div class="col-sm-6">#}
            {#<h3>Подготовка корабля (PEXESO)</h3>#}
            {#<span class="label label-warning">В испытании участвуют плотники, канониры, судовые врачи, коки (60 человек)</span>#}
            {#<br><br>#}
            {#<form method="post" class="game-create-simple" action="{{ path('admin_game_simple_group_create') }}">#}
                {#<input type="hidden" name="type" value="pexeso" />#}
                {#<div class="form-group">#}
                    {#<label for="date2">Дата и время игры</label>#}
                    {#<input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date" value="{{ "now"|date("Y-m-d") }}">#}
                    {#<input class="form-control field-time" type="text" placeholder="Выберите время..." name="date_time" value="12:00">#}
                {#</div>#}
                {#<button type="submit" class="btn btn-success btn-game-create-simple">Назначить игры</button>#}
                {#<br><br>#}
                {#<div class="alert alert-info hidden"></div>#}
            {#</form>#}
        {#</div>#}
    {#</div>#}
    {#<hr>#}
    <div class="row">
        {#<div class="col-sm-6">#}
            {#<h3>Лоцманская карта</h3>#}
            {#<span class="label label-warning">В испытании участвуют квартирмейстеры,  штурманы, боцманы, мастера парусов (60 человек)</span>#}
            {#<br><br>#}
            {#<form method="post" class="game-create-simple" action="{{ path('admin_game_simple_group_create') }}">#}
                {#<input type="hidden" name="type" value="map" />#}
                {#<div class="form-group">#}
                    {#<label for="date3">Дата и время игры</label>#}
                    {#<input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date" value="{{ "now"|date("Y-m-d") }}">#}
                    {#<input class="form-control field-time" type="text" placeholder="Выберите время..." name="date_time" value="12:00">#}
                {#</div>#}
                {#<button type="submit" class="btn btn-success btn-game-create-simple">Назначить игры</button>#}
                {#<br><br>#}
                {#<div class="alert alert-info hidden"></div>#}
            {#</form>#}
        {#</div>#}
        <div class="col-sm-6">
            <h3>Абордаж галеона</h3>
            <span class="label label-warning">В испытании участвуют матросы и пороховые обезьяны (60 человек)</span>
            <br><br>
            <form method="post" id="game-labirint" action="{{ path('admin_game_labirint_create') }}">
                <div class="form-group">
                    <label for="date4">Дата и время игры</label>
                    <input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date" value="{{ "now"|date("Y-m-d") }}">
                    <input class="form-control field-time" type="text" placeholder="Выберите время..." name="date_time" value="12:00">
                </div>
                <button type="submit" class="btn btn-success btn-game-create-labirint">Назначить игры</button>
                <br><br>
                <div class="alert alert-info hidden"></div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        {#<div class="col-sm-6">#}
            {#<h3>Продажа награбленного (Биржа)</h3>#}
            {#<span class="label label-warning">В испытании участвуют все члены команд</span>#}
            {#<br><br>#}
            {#<form method="post" id="game-market">#}
                {#<div class="form-group">#}
                    {#<label for="date1">Дата и время игры, день 1</label>#}
                    {#<input type="text" class="form-control" id="date1" placeholder="YYYY-MM-DD HH:MM">#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<label for="date2">Дата и время игры, день 2</label>#}
                    {#<input type="text" class="form-control" id="date2" placeholder="YYYY-MM-DD HH:MM">#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<label for="date3">Дата и время игры, день 3</label>#}
                    {#<input type="text" class="form-control" id="date3" placeholder="YYYY-MM-DD HH:MM">#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<label for="date4">Дата и время игры, день 4</label>#}
                    {#<input type="text" class="form-control" id="date4" placeholder="YYYY-MM-DD HH:MM">#}
                {#</div>#}
                {#<button type="submit" class="btn btn-success btn-market">Назначить игры</button>#}
            {#</form>#}
            {#<br>#}
            {#<div class="alert alert-info hidden"></div>#}
        {#</div>#}
        <div class="col-sm-12">
            <h3>Морской бой</h3>
            <span class="label label-warning">Играют 12 команд, 4 стола по 3 в 2 дня. 1 из 3 команд - победитель.</span>
            <br><br>
            <form method="post" id="game-battle" action="{{ path('admin_game_battle_create') }}">
                <div class="form-group">
                    <label for="date1">Дата и время игр, день 1 </label>
                    <input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date1" value="{{ "now"|date("Y-m-d") }}">
                    <input class="form-control field-time" type="text" placeholder="Выберите время..." name="date1_time" value="12:00">
                </div>
                <div class="form-group">
                    <label for="date2">Дата и время игр, день 2</label>
                    <input class="form-control field-date" type="text" placeholder="Выберите дату..." name="date2" value="{{ "now"|date("Y-m-d") }}">
                    <input class="form-control field-time" type="text" placeholder="Выберите время..." name="date2_time" value="12:00">
                </div>
                <div class="row">
                    {% set tables = [1, 2] %}
                    {%  for table in tables %}
                    {% set currentFields = attribute(fields, table) %}
                    <div class="col-md-6">
                        <h3>Стол {{ table }}</h3>
                        <table class="table table-bordered">
                            <tr>
                                <th>*</th>
                                <th>А</th>
                                <th>Б</th>
                                <th>В</th>
                                <th>Г</th>
                                <th>Д</th>
                                <th>Е</th>
                                <th>Ж</th>
                                <th>З</th>
                                <th>И</th>
                                <th>К</th>
                            </tr>
                            {% for num in numbers  %}
                            <tr>
                                <th>{{ num }}</th>
                                {% for letter in letters %}
                                    {% set currentName = num ~ letter %}
                                    {% set currentType = attribute(currentFields, currentName) %}
                                    <td>
                                        <input type="hidden" value="{{ currentType }}" name="cell_table{{ table }}_{{ num }}{{ letter }}">
                                        {%  for typeKey, type in types %}
                                            <img class="select-image{% if type['value'] == currentType %} current{% endif %}" data-value="{{ type.value }}" src="{{ type.image }}">
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% set tables = [3, 4] %}
                    {%  for table in tables %}
                    <div class="col-md-6">
                        <h3>Стол {{ table }}</h3>
                        <table class="table table-bordered">
                            <tr>
                                <th>*</th>
                                <th>А</th>
                                <th>Б</th>
                                <th>В</th>
                                <th>Г</th>
                                <th>Д</th>
                                <th>Е</th>
                                <th>Ж</th>
                                <th>З</th>
                                <th>И</th>
                                <th>К</th>
                            </tr>
                            {% for num in numbers  %}
                                <tr>
                                    <th>{{ num }}</th>
                                    {% for letter in letters %}
                                        <td>
                                            <input type="hidden" value="" name="cell_table{{ table }}_{{ num }}{{ letter }}">
                                            {%  for type in types %}
                                            <img class="select-image{% if type == fields[table][num+letter] %} current{% endif %}" data-value="{{ type.value }}" src="{{ type.image }}">
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
                <button class="btn btn-success btn-game-create-battle">Назначить игры</button>
                <br>
                <div class="alert alert-info hidden"></div>
            </form>
        </div>
    </div>
{% endblock %}